DBHost=localhost
DBName=zabbix
DBUser=zabbix
DBPassword={{ vault_zabbix_db_password }}
DBPort=5432

ListenPort=10051
#SourceIP=0.0.0.0
LogFile=/var/log/zabbix/zabbix_server.log
LogFileSize=0
DebugLevel=3

#PidFile=/var/run/zabbix/zabbix_server.pid
PidFile=/run/zabbix/zabbix_server.pid
SocketDir=/var/run/zabbix

StartPollers=20
StartPollersUnreachable=10
StartTrappers=5
StartPingers=10
StartDiscoverers=1
StartHTTPPollers=1
StartTimers=1
StartEscalators=1
#StartJavaPollers=0
#StartVMwareCollectors=0

CacheSize=512M
HistoryCacheSize=1G
HistoryIndexCacheSize=128M
TrendCacheSize=128M
ValueCacheSize=512M

Timeout=4
TrapperTimeout=300
UnreachablePeriod=45
UnavailableDelay=60
UnreachableDelay=15

AlertScriptsPath=/usr/lib/zabbix/alertscripts
ExternalScripts=/usr/lib/zabbix/externalscripts

FpingLocation=/usr/bin/fping
Fping6Location=/usr/bin/fping6

LogSlowQueries=3000