[master]
description = "backup master"
ssh_command = ssh postgres@{{ master_ip }}
conninfo = host={{ master_ip }} user=barman port=5432 dbname=postgres
retention_policy_mode = auto
retention_policy = RECOVERY WINDOW OF 7 days
wal_retention_policy = main
streaming_archiver=on
path_prefix = /usr/lib/postgresql/14/bin/
create_slot = auto
slot_name = master
streaming_conninfo = host={{ master_ip }} user=barman
backup_method = postgres
archiver = off
